node_modules/
npm-debug.log*
yarn-*.log*
__pycache__/
*.py[cod]
.venv/
.env
cdk.out/
cdk.context.json
.DS_Store
dist/
live.zip
live.zip

# --- Frontend specific ---
# Local env files
frontend/.env.local

# Node deps
frontend/node_modules/

# Build output
frontend/dist/

cdk/.venv/
cdk.out/
__pycache__/
.DS_Store
